<!DOCTYPE html>
<html>
  <head>
    <title>Coursesectionstudent</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to "Enrollments", root_path %>
  <%= link_to "Courses", courses_path %>
  <%= link_to "Sections", sections_path %>
  <%= link_to "Students", students_path %>
  <%= link_to "Login", root_path %>
    <%= yield %>
  </body>
</html>
